/* nav{
    display: none;
} */

.nav-container {
    display: flex;
}

.nav-container li {
    margin: 0 10px;
    list-style: none;
}

.nav-container li a {
    margin-right: 0;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
}